$spacing: 2rem;

$font-size: 100%;

$color-black: #2E293D;
$color-gray: #DDDAE8;
$color-white: #ffffff;

$color-green: #2AE092;
$color-violet: #5320FF;
$color-red: rgb(255, 41, 148);
// $color-orange: #FF7300;
$color-yellow: #FFDD00;

$color-accent-dark: $color-violet;
$color-accent-light:$color-yellow;