@font-face {
  font-family: 'Plex Mono';
  src: url('~@/assets/fonts/IBMPlexMono-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Plex Mono';
  src: url('~@/assets/fonts/IBMPlexMono-Italic.woff2') format('woff2');
  font-style: italic;
  font-weight: normal;
}
@font-face {
  font-family: 'Plex Mono';
  src: url('~@/assets/fonts/IBMPlexMono-SemiBold.woff2') format('woff2');
  font-style: normal;
  font-weight: bold;
}